
@{
    ViewData["Title"] = "About Us";
    ViewData["name"] = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="description-pages-container">
    <div class="welcome-home-image">
        <div class="welcome-home-actual-image">
            <img src="~/Assets/images/on_white_logo.png" alt="Freelancers4 on Black Logo">
        </div>
    </div>
    <div class="description-pages-left-section">
        <div class="description-pages-left-section-title">@ViewBag.Title</div>
        <div class="description-pages-left-section-content">

            Welcome to Freelancers, your number one source for all things freelance in Kenya. We're dedicated to providing you the best experience, with a focus on dependability, availablity and ease of use .

            <br /><br/>
            We're working to turn our passion for linking customers to capable developers into a booming online web application that will one day service the East African Community.
            <br /><br/>
            We hope you enjoy your experience as much as we enjoy offering them to you, for any inquires or questions please feel free to contact us on the email below.

             <a href="contact@freelancer.com"><h4>Contact us</h4></a>


            Sincerely,

            Founder : Ted Mwangi


        </div>
    </div>
</div>
